img {
  width: 300px;
  height: 200px;
}

.clickable {
  cursor: pointer;
  color: #C984E3;
}

.clickable:hover {
  text-decoration: underline;
}

#initially-showing {
  display: none;
}

#fade {
  display: none;
}

#initially-showing2 {
  display: none;
}

.clickable2 {
  cursor: pointer;
  color: #C984E3;
}

.clickable2:hover {
  text-decoration: underline;
}
